*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style:none
}

a {
    text-decoration: none;
}

header {
    border-bottom: 2px #eee solid;
    margin-top: 16px;
    padding: 15px ;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 162px;
}

.logo {
    height: 30px;
}

.bag {
    display: flex;
}

.bag span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00C0EE;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #eee;
    font-size: 11px;
}

/* ========== */


section {
    margin-top: 16px;
    padding: 15px ;    
}
.section-container {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 162px;
}
.title-page {
    font-size: 32px;
}


/* =========== */


nav {
    margin-top: 16px;
    padding: 15px;
    float: left;
    margin-left: 160px;
}
.nav-containers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.see-more-btn {
    color: rgb(151, 151, 151);
}
.nav-size {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.nav-size-btn {
    color: black;
}

.btn {
    display: flex;
    border: 1px solid grey;
    width: 32px;
    height: 32px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

/* ============== */

main {
    margin-left: 350px;
    margin-right: 162px;
    padding: 2%;
    
}
.main-container {
    /* border: 2px black solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
    margin-left: 10%;
}
.product {
    /* border: 2px rgb(207, 12, 12) solid; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.product img {
    height: 293px;
    width: 195px;
}
.product a{
    cursor: pointer;
    width: 195px;
    height: 33.55px;
    background-color: black;
    color:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.add-to-cart {
    cursor: pointer;
}


/* =========== */

footer {
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-weight: 400;
    letter-spacing: .2rem;
}
