*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style:none
}

a {
    text-decoration: none;
}

header {
    border-bottom: 2px #eee solid;
    margin-top: 16px;
    padding: 15px ;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 162px;
}

.logo {
    height: 30px;
}

.bag {
    display: flex;
}

.bag span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00C0EE;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #eee;
}

/* ========== */


section {
    margin-top: 16px;
    padding: 15px ;    
}
.section-container {
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 162px;
}
.title-page {
    font-size: 32px;
}


/* =========== */


nav {
    margin-top: 16px;
    padding: 15px;
    float: left;
    margin-left: 160px;
}
.nav-containers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-colors-btn {
    color: rgb(151, 151, 151);
}
.nav-size {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.nav-size-btn {
    color: black;
}

.btn {
    display: flex;
    border: 1px solid grey;
    width: 32px;
    height: 32px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}


/* ============== */

main {
    margin-left: 350px;
    margin-right: 162px;
    padding: 2%;
    
}
.main-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 49px;
    margin-left: 71px;
}
.product-row {
    display: flex;
    gap: 30px;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.product img {
    height: 293px;
}

.product button {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #eee;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 49px;
    cursor: pointer;
}
.product button:hover {
    transition: 1s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.more{
    display: flex;
    justify-content: center;
}
.more div{
    display: flex;
    background-color: #00C0EE;
    width: 175px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #eee;
    margin-bottom: 20px;
}
.more-btn {
    color: #eee;
}


/* =========== */

footer {
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-weight: 400;
    letter-spacing: .2rem;
}
