*,*::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

body{
    --color001: rgba(0, 0, 0, 0.5);
    --color002: #000000;
    --color003: #666666;
    --color004: #00C0EE;
    --color005: #C7C7C7;
    --color006:#f6f9ff;
    color: var(--color001);

    background: var(--color006);
    height: 100vh;
    width: 100%;
}

 
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;    
    border-bottom: 2px solid var(--color005);
    margin: auto;
    padding:10px;
}

#header img{
    margin: 0 15%;
    position: relative;
    display: flex;
    width: 119px;
    height: 30px;    
}

#header button{
    margin: 0 15%;
    position: relative;
    display: flex;
    width: 17px;
    height: 20px;
    background-color: white;
    border: none;    
}

.num-itens{
    flex-direction: row;
    position: absolute;
    display: flex;
    background: #00C0EE;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    color:white ;
    font-size: 6px;
    justify-content: center; 
    align-items: center;
    left: 20px;          
}

/* ============= */


/* ============= */


.caixa-menu {
    position: fixed;
    width: 259px;    
    left: 15%;
    top: 15%;
}
    

.filt-cores {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;    
}
.custom-checkbox input {
    display: none;
}

.custom-checkbox {
    display: block;
    position: relative;    
    font-size: 14px;
    color: #424242;
    font-weight: 500;
}
.custom-checkbox span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: none;
    border: 1px solid rgba(0, 0, 0, 0.301);
    cursor: pointer
}

input:checked + span {
    background-color: #00C0EE;
}


.filt-tam {
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;    
}

.filt-tam button {
    width: 30px;
    height: 30px;
    margin: 5%;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.301);
    cursor: pointer
}

.filt-preço {
    display: flex;
    flex-direction: column;

}

h4 {
    margin-bottom: 10%;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* ============== */


.produtos {
    /* border: 1px solid black; */
    position: absolute;
    max-width: 838px;
    height: 737px;
    left: 489px;
    top: 135px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #000000;
    width: 100vw;
    color: #eee;
    bottom: 0;
    position: fixed;
    text-align: center;
    ;
}


